@import "../../parameters";

form {
    max-width: 300px;

    .formRow {
        margin-bottom: ($indents-base * 3);

        .feedback {
            color: $color-red;
            font-size: $font-small;
        }
    }
}