@import "../../parameters";

.list {

    display: table;
    width: 100%;

    .listHeader {
        display: table-row;
        font-weight: bold;


        > div {
            display: table-cell;
            padding: $indents-base;

            border-bottom: 1px solid $color-main;
        }

    }

    .listItem {
        display: table-row;

        > div {
            display: table-cell;
            padding: $indents-base;
            border-bottom: 1px solid $color-grey;


        }

        &:last-child {
            > div {
                border: none;
            }
        }
    }

    .actionBar {
        min-width: 180px;
        text-align: right;
    }

}