@import "../../parameters";

.list {

    display: table;
    width: 100%;

    .listHeader {
        display: table-row;
        font-weight: bold;

        > div {
            display: table-cell;
            padding: $indents-base;

            border-bottom: 1px solid $color-main;
        }

        .status, .startDate, .finishDate {
            min-width: 100px;
        }

    }

    .listItem {
        display: table-row;

        > div {
            display: table-cell;
            padding: $indents-base;

            border-bottom: 1px solid $color-grey;
            border-left: 1px solid $color-grey;

            &:first-child {
                border-left: none;
            }
        }


        &:last-child {
            > div {
                border-bottom: none;
            }
        }
    }

    .actionBar {
        min-width: 180px;
        text-align: right;
    }

}