//color section
$color-main: #202020;
$color-white: #fff;
$color-grey: #ededed;
$color-grey-dark: #a19f9f;
$color-grey-black: #5e5c5c;
$color-red: #d10000;
$color-green: #04d704;

//font section
$font-base: 1em;
$font-medium: 0.8em;
$font-small: 0.75em;
$font-big: 1.25em;

//width fields
$width-field-base: 190px;

//margins base
$indents-base: 10px;

//border-radius base
$border-radius-base: 3px;