@import "./../../parameters";

.headerPage {
    max-width: 50%;
    margin-bottom: $indents-base;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    h1 {
        margin: 0;
        padding: $indents-base 0;
        font-size: $font-big;
    }

    .actionBar {

        .button {
            margin: 0 ($indents-base*2);
        }
    }
}