@import "../../parameters";

.inputTextField {
    box-sizing: border-box;
    display: block;
    padding: 5px;

    min-width: $width-field-base;
    //border-radius: $border-radius-main;
    //border: 1px solid $color-grey;
    //font-size: $font-size-14;
}
