//color section
$color-main: #202020;
$color-white: #fff;
$color-grey: #ededed;

//font section
$font-base: 1em;
$font-small: 0.75em;
$font-big: 1.25em;

//width fields
$width-field-base: 190px;

//margins base
$indents-base: 10px;